.footer {
  padding: 54px 0;
}

.footer__container {}

.footer__row {
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  width: 209px;
  max-height: 52px;
  margin-bottom: 41px;
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
}

.footer__menu-item {
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__menu-item-link {
  padding: 2px 0;
}