//<Адаптив>===========================================================================================================================================
@media (max-width: 1710px) {
	.header__container {
		padding: 0 10px;
	}
}

@media (max-width: 1460px) {
	._container {
		padding: 0 10px;
	}
}

@media (max-width: 1440px) {
	.header__navigation {
		flex: 0 1 350px;
	}
}

@media (max-width: 1330px) {
	.jobs-agro__column-descp {
		padding: 73px 35px 73px 0;
	}

	.jobs-agro__inner {
		margin-right: -10px;
	}
}

@media (max-width: 1280px) {
	.about-agro__inner {
		margin: 0 -15px;
	}

	.about-agro__column {
		padding: 0 15px;
		padding-bottom: 15px;
	}
}

@media (max-width: 1250px) {
	.header__logo {
		margin-right: 35px;
	}

	.mob-menu {
		margin-top: 81px;
	}
}

@media (max-width: 1100px) {

	.header__search-icon,
	.header__conf-policy {
		margin-right: 15px;
	}
}

@media (max-width: 1050px) {
	.slider-bg__inner {
		margin: 0 -10px;
	}

	.slider-bg__column {
		padding: 0 10px;
	}
}

@media (max-width: 1024px) {
	.about-agro__inner {
		margin: 0 -10px;
	}

	.about-agro__column {
		padding: 0 10px;
		padding-bottom: 10px;
	}

	.about-agro__card {
		padding: 42px 30px 35px 30px;
	}

	.jobs-agro__column-descp {
		padding: 55px 35px 55px 0;
	}

	.jobs-agro__card-title {
		margin-bottom: 20px;
	}

	.jobs-agro__card-button {
		margin-top: 25px;
	}
}

@media (max-width: 910px) {
	.slider-bg__inner {
		flex-wrap: wrap;
		margin-top: 35px;
	}

	.slider-bg__column {
		flex: 0 1 50%;
		padding-bottom: 10px;
	}

	.slider-bg__slide {
		padding: 65px 0 75px 0;
	}
}

@media (max-width: 860px) {
	.header__logo {
		flex: 0 0 150px;
		height: 43px;
	}

	.menu-list a {
		font-size: 12px;
		line-height: 1;
		padding: 5px 25px 5px 0;
	}

	.mob-menu {
		margin-top: 73px;
	}
}

@media (max-width: 768px) {
	.header {
		position: fixed;
		width: 100%;
		padding: 5px 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}

	.header__logo {
		margin-right: 20px;
	}

	.logo-icon {
		flex: 0 0 115px;
		height: 35px;
	}

	.logo-icon:before {
		flex: 0 0 100%;
		height: 100%;
	}

	.header__menu-block {
		margin-right: 15px;
	}

	.header__conf-policy {
		display: none;
	}

	.header__conf-policy-mob {
		display: block;
	}

	.header__navigation {
		justify-content: flex-end;
	}

	.header__menu-list {
		display: none;
	}

	.header__search form {
		max-height: 30px;
	}

	.header__contacts {
		flex: 0 0 133px;
		margin-left: auto;
		margin-right: 15px;
	}

	.header__phone {
		font-size: 18px;
	}

	.header__time-phone {
		display: none;
	}

	.header__popup-link {
		display: none;
	}

	.header__popup-link_mob {
		display: flex;
		margin-left: 0;
	}

	.section {
		padding: 20px 0 !important;
	}

	.title {
		margin-bottom: 15px;
	}

	::-webkit-scrollbar {
		display: none;
	}

	.header__icon-menu-text {
		font-size: 12px;
		margin-right: 13px;
	}

	.mob-menu {
		margin-top: 35px;
	}

	.footer {
		padding: 13px 0;
	}

	.footer__row {
		align-items: start;
	}

	.footer__menu-item {
		flex: 0 1 100%;
	}

	.footer__menu a {
		padding: 5px 0;
		display: block;
		line-height: 1;
	}

	.footer__logo {
		width: 190px;
		max-height: 48px;
		margin-bottom: 10px;
	}

	.slider-bg__slide {
		min-height: 860px;
	}

	.slider-bg__title {
		font-size: 35px;
		line-height: 1.2;
		margin-bottom: 10px;
	}

	.slider-bg__subtitle br,
	.slider-bg__title br {
		display: none;
	}

	.slider-bg__subtitle {
		font-size: 16px;
		line-height: 1.2;
	}

	.slider-bg__slide {
		min-height: auto;
		height: auto;
	}

	.slider-bg__slide {
		padding: 85px 0 35px 0;
	}

	.slider-bg__card-title {
		font-size: 26px;
		line-height: 1.2;
		margin-bottom: 10px;
	}

	.slider-bg__card-subtitle {
		font-size: 14px;
		line-height: 1.2;
	}

	.slider-bg__inner {
		margin: 0 -5px;
		margin-top: 25px;
	}

	.slider-bg__column {
		flex: 0 1 24.8%;
		padding: 0 5px;
		padding-bottom: 5px;
	}

	.slider-bg__card {
		padding: 20px;
	}

	.about-agro__card-icon {
		margin-bottom: 5px;
	}

	.about-agro__card-title {
		font-size: 20px;
		line-height: 1.2;
		margin-bottom: 10px;
	}

	.about-agro__card-line {
		margin-bottom: 10px;
	}

	.about-agro__card-text {
		font-size: 14px;
	}

	.about-agro__card {
		padding: 25px;
	}

	.about-agro__column {
		padding: 0 5px;
		padding-bottom: 5px;
	}

	.about-agro__inner {
		margin: 0 -5px;
	}

	.about-agro__card-icon::before {
		background-size: 80%;
	}

	.jobs-agro {
		padding: 0 !important;
	}

	.jobs-agro__column-descp {
		padding: 25px 20px 25px 0;
	}

	.jobs-agro__card-title {
		margin-bottom: 10px;
	}

	.jobs-agro__card-subtitle {
		font-size: 14px;
		line-height: 1.2;
	}

	.jobs-agro__card-button {
		margin-top: 15px;
	}
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s;
	}

	.slider-bg__column {
		flex: 0 1 50%;
	}
}

@media (max-width: 630px) {
	.about-agro__column {
		flex: 0 1 100%;
	}
}

@media (max-width: 612px) {
	.popup__img {
		flex: 0 1 43%;
	}

	.popup__form-block {
		padding: 35px 15px;
	}

	.jobs-agro__inner {
		flex-wrap: wrap-reverse;
		margin-right: 0;
	}

	.jobs-agro__column {
		flex: 0 1 100%;
	}

	.jobs-agro {
		padding-top: 25px !important;
	}
}

@media (max-width: 515px) {
	.header__contacts {
		display: none;
	}

	.header__mob-phone-icon {
		display: flex;
		margin-right: 25px;
	}

	.popup__img {
		display: none;
	}

	.popup__form-block {
		flex: 0 1 100%;
	}
}

@media (max-width: 480px) {
	.header__search {
		display: none;
	}

	.header__mob-search-btn {
		display: flex;
	}

	.header__search.active {
		display: block;
		position: absolute;
		top: 50px;
		left: 0;
		max-width: 100%;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
		margin: 0;
	}

	.search__input {
		border-radius: 0 !important;
	}
}

@media (max-width: 414px) {
	.jobs-agro__card-button {
		width: 100%;
	}

	.jobs-agro__column-descp {
		padding: 25px 0px 25px 0;
	}
}

@media (max-width: 375px) {
	.slider-bg__column {
		flex: 0 1 100%;
	}
}