//<Адаптив>===========================================================================================================================================
@media (max-width: 1710px) {
	.header__container {
		padding: 0 10px;
	}
}

@media (max-width: 1500px) {
	.directions-agro__column-left {
		flex: 0 1 550px;
	}

	.directions-agro__slDescp-slide {
		padding-right: 35px;
	}
}

@media (max-width: 1460px) {
	._container {
		padding: 0 10px;
	}
}

@media (max-width: 1440px) {
	.header__navigation {
		flex: 0 1 350px;
	}
}

@media (max-width: 1330px) {
	.jobs-agro__column-descp {
		padding: 73px 35px 73px 0;
	}

	.jobs-agro__inner {
		margin-right: -10px;
	}

	.our-production__card-img {
		height: 300px;
	}
}

@media (max-width: 1280px) {
	.about-agro__inner {
		margin: 0 -15px;
	}

	.about-agro__column {
		padding: 0 15px;
		padding-bottom: 15px;
	}

	.news-agro__column {
		padding: 0 10px;
		padding-bottom: 20px;
	}

	.news-agro__inner {
		margin: 0 -10px;
	}

	.connect-agro__block-column-form {
		padding-top: 0;
	}

	.slider-bg-pagination-fraction {
		position: absolute;
		top: 25%;
	}
}

@media (max-width: 1250px) {
	.header__logo {
		margin-right: 35px;
	}

	.mob-menu {
		margin-top: 81px;
	}
}

@media (max-width: 1200px) {
	.connect-agro__block {
		padding: 50px 30px 50px 30px;
	}

	.our-production__card-img {
		height: 275px;
	}

	.our-production__card-icon-link {
		margin-bottom: 10px;
	}

	.our-production__card-img {
		padding: 30px;
	}
}

@media (max-width: 1100px) {

	.header__search-icon,
	.header__conf-policy {
		margin-right: 15px;
	}

	.news-agro__column {
		flex: 0 1 33.333%;
	}

	.connect-agro__block-contacts-phone {
		display: inline-block;
		font-size: 22px;
		margin-right: 15px;
		margin-bottom: 10px;
	}

	.connect-agro__block-contacts-email {
		display: inline-block;
		margin-bottom: 10px;
	}

	.our-production__card-img {
		height: 247px;
	}
}

@media (max-width: 1050px) {
	.slider-bg__inner {
		margin: 0 -10px;
	}

	.slider-bg__column {
		padding: 0 10px;
	}
}

@media (max-width: 1024px) {
	.about-agro__inner {
		margin: 0 -10px;
	}

	.about-agro__column {
		padding: 0 10px;
		padding-bottom: 10px;
	}

	.about-agro__card {
		padding: 42px 30px 35px 30px;
	}

	.jobs-agro__column-descp {
		padding: 55px 35px 55px 0;
	}

	.jobs-agro__card-title {
		margin-bottom: 20px;
	}

	.jobs-agro__card-button {
		margin-top: 25px;
	}

	.our-production__card-img {
		height: 230px;
	}

	.slider-bg-pagination-fraction {
		position: absolute;
		top: 15%;
	}

	.directions-agro__column-right {
		flex: 0 0 900px;
		margin-right: -350px;
	}

	.directions-agro__slDescp-slide-title {
		font-size: 38px;
	}
}

@media (max-width: 940px) {
	.directions-agro__wrap {
		flex-wrap: wrap;
	}

	.directions-agro__column-left {
		flex: 0 1 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.directions-agro__slDescp-slide {
		padding-right: 0;
	}

	.directions-agro__column-right {
		flex: 0 1 100%;
		margin-right: -350px;
	}

	.directions-agro ._container {
		padding-right: 0;
	}
}

@media (max-width: 910px) {
	.slider-bg__inner {
		flex-wrap: wrap;
		margin-top: 35px;
	}

	.slider-bg__column {
		flex: 0 1 50%;
		padding-bottom: 10px;
	}

	.slider-bg__slide {
		padding: 65px 0 75px 0;
	}

	.our-production__card-img {
		height: 200px;
	}

	.our-production__card-icon-link {
		display: none;
	}

	.our-production__card-icon-link-arrow {
		margin-top: 13px;
	}
}

@media (max-width: 860px) {
	.header__logo {
		flex: 0 0 150px;
		height: 43px;
	}

	.menu-list a {
		font-size: 12px;
		line-height: 1;
		padding: 5px 25px 5px 0;
	}

	.mob-menu {
		margin-top: 73px;
	}

	.connect-agro__block {
		flex-wrap: wrap;
	}

	.connect-agro__block-column {
		flex: 0 1 100%;
		margin-right: 0;
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.connect-agro__block-title {
		margin-bottom: 15px;
	}

	.our-production__card-img {
		height: 180px;
	}

}

@media (max-width: 812px) {
	.news-agro__column {
		flex: 0 1 50%;
	}
}

@media (max-width: 768px) {
	.header {
		position: fixed;
		width: 100%;
		padding: 5px 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}

	.header__logo {
		margin-right: 20px;
	}

	.logo-icon {
		flex: 0 0 115px;
		height: 35px;
	}

	.logo-icon:before {
		flex: 0 0 100%;
		height: 100%;
	}

	.header__menu-block {
		margin-right: 15px;
	}

	.header__conf-policy {
		display: none;
	}

	.header__conf-policy-mob {
		display: block;
	}

	.header__navigation {
		justify-content: flex-end;
	}

	.header__menu-list {
		display: none;
	}

	.header__search form {
		max-height: 30px;
	}

	.header__contacts {
		flex: 0 0 133px;
		margin-left: auto;
		margin-right: 15px;
	}

	.header__phone {
		font-size: 18px;
	}

	.header__time-phone {
		display: none;
	}

	.header__popup-link {
		display: none;
	}

	.header__popup-link_mob {
		display: flex;
		margin-left: 0;
	}

	.section {
		padding: 20px 0 !important;
	}

	.title {
		margin-bottom: 15px;
	}

	::-webkit-scrollbar {
		display: none;
	}

	.header__icon-menu-text {
		font-size: 12px;
		margin-right: 13px;
	}

	.mob-menu {
		margin-top: 35px;
	}

	.footer {
		padding: 13px 0;
	}

	.footer__row {
		align-items: start;
	}

	.footer__menu-item {
		flex: 0 1 100%;
	}

	.footer__menu a {
		padding: 5px 0;
		display: block;
		line-height: 1;
	}

	.footer__logo {
		width: 190px;
		max-height: 48px;
		margin-bottom: 10px;
	}

	.slider-bg__slide {
		min-height: 860px;
	}

	.slider-bg__title {
		font-size: 35px;
		line-height: 1.2;
		margin-bottom: 10px;
	}

	.slider-bg__subtitle br,
	.slider-bg__title br {
		display: none;
	}

	.slider-bg__subtitle {
		font-size: 16px;
		line-height: 1.2;
	}

	.slider-bg__slide {
		min-height: auto;
		height: auto;
	}

	.slider-bg__slide {
		padding: 85px 0 35px 0;
	}

	.slider-bg__card-title {
		font-size: 26px;
		line-height: 1.2;
		margin-bottom: 10px;
	}

	.slider-bg__card-subtitle {
		font-size: 14px;
		line-height: 1.2;
	}

	.slider-bg__inner {
		margin: 0 -5px;
		margin-top: 25px;
	}

	.slider-bg__column {
		flex: 0 1 24.8%;
		padding: 0 5px;
		padding-bottom: 5px;
	}

	.slider-bg__card {
		padding: 20px;
	}

	.about-agro__card-icon {
		margin-bottom: 5px;
	}

	.about-agro__card-title {
		font-size: 20px;
		line-height: 1.2;
		margin-bottom: 10px;
	}

	.about-agro__card-line {
		margin-bottom: 10px;
	}

	.about-agro__card-text {
		font-size: 14px;
	}

	.about-agro__card {
		padding: 25px;
	}

	.about-agro__column {
		padding: 0 5px;
		padding-bottom: 5px;
	}

	.about-agro__inner {
		margin: 0 -5px;
	}

	.about-agro__card-icon::before {
		background-size: 80%;
	}

	.jobs-agro {
		padding: 0 !important;
	}

	.jobs-agro__column-descp {
		padding: 25px 20px 25px 0;
	}

	.jobs-agro__card-title {
		margin-bottom: 10px;
	}

	.jobs-agro__card-subtitle {
		font-size: 14px;
		line-height: 1.2;
	}

	.jobs-agro__card-button {
		margin-top: 15px;
	}

	.news-agro__column {
		flex: 0 1 25%;
	}

	.news-agro__card-descp-title {
		font-size: 14px;
		line-height: 1.2;
	}

	.news-agro__card-descp {
		padding: 15px 10px 20px 13px;
	}

	.news-agro__card-descp-btn {
		font-size: 14px;
		margin-top: 10px;
	}

	.news-agro__card-img {
		max-height: 120px;
		min-height: 120px;
	}

	.news-agro__card-descp-date {
		font-size: 12px;
		line-height: 1.2;
		margin-bottom: 8px;
	}

	.news-agro__column {
		padding: 0 5px;
		padding-bottom: 10px;
	}

	.news-agro__inner {
		margin: 0 -5px;
	}

	.news-agro__button {
		font-size: 14px;
		margin-top: 15px;
	}

	.connect-agro__block-subtitle {
		font-size: 14px;
	}

	.connect-agro__block-subtitle br {
		display: none;
	}

	.connect-agro__block-title {
		margin-bottom: 10px;
	}

	.connect-agro__block {
		padding: 25px 20px 25px 20px;
	}

	.connect-agro__block-column {
		margin-bottom: 15px;
	}

	.connect-agro__block-contacts-email,
	.connect-agro__block-contacts-phone {
		font-size: 14px;
		margin-right: 10px;
	}

	.our-production__card-img {
		height: 165px;
	}

	.our-production__card-text-link {
		font-size: 14px;
		line-height: 1.2;
	}

	.our-production__card-text {
		font-size: 18px;
		margin-top: 10px;
	}

	.our-production__inner {
		margin: 0 -5px;
	}

	.our-production__column {
		padding: 0 5px;
	}

	.slider-bg-pagination-fraction {
		display: none;
	}

	.directions-agro__title {
		font-size: 14px;
		margin-bottom: 13px;
	}

	.directSlDescp-pagination-fraction {
		margin-bottom: 15px;
	}

	.directions-agro__slDescp-slide-title {
		font-size: 24px;
		margin-bottom: 10px;
	}

	.directions-agro__slDescp-slide-subtitle {
		font-size: 14px;
	}

	.directions-agro__slDescp-slide-link {
		margin-top: 15px;
	}

	.directions-agro__buttonBlock {
		display: none;
	}

	.directions-agro__column-right {
		height: auto;
		margin-right: 0;
	}

	.directions-agro__slImg {
		max-width: 100%;
		width: 100%;
		height: 392px;
		height: auto;
	}

	.directions-agro ._container {
		padding-right: 10px;
	}

	.directions-agro__slImg .swiper-wrapper {
		height: 100% !important;
	}
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s;
	}

	.slider-bg__column {
		flex: 0 1 50%;
	}

	.our-production__card-img {
		height: 150px;
	}
}

@media (max-width: 630px) {
	.about-agro__column {
		flex: 0 1 100%;
	}
}

@media (max-width: 612px) {
	.popup__img {
		flex: 0 1 43%;
	}

	.popup__form-block {
		padding: 35px 15px;
	}

	.jobs-agro__inner {
		flex-wrap: wrap-reverse;
		margin-right: 0;
	}

	.jobs-agro__column {
		flex: 0 1 100%;
	}

	.jobs-agro {
		padding-top: 25px !important;
	}

	.news-agro__column {
		flex: 0 1 33.333%;
	}

	.our-production__card-img {
		height: 140px;
	}

	.our-production__card-text {
		font-size: 14px;
		margin-top: 10px;
	}
}

@media (max-width: 540px) {
	.our-production__inner {
		flex-wrap: wrap;
	}

	.our-production__column {
		flex: 0 1 50%;
	}

	.our-production__card-img {
		height: 254px;
	}
}

@media (max-width: 515px) {
	.header__contacts {
		display: none;
	}

	.header__mob-phone-icon {
		display: flex;
		margin-right: 25px;
	}

	.popup__img {
		display: none;
	}

	.popup__form-block {
		flex: 0 1 100%;
	}

	.directions-agro ._container {
		padding-right: 0;
	}

	.directions-agro__slDescp-slide {
		padding-right: 10px;
	}
}

@media (max-width: 480px) {
	.header__search {
		display: none;
	}

	.header__mob-search-btn {
		display: flex;
	}

	.header__search.active {
		display: block;
		position: absolute;
		top: 50px;
		left: 0;
		max-width: 100%;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
		margin: 0;
	}

	.search__input {
		border-radius: 0 !important;
	}

	.news-agro__column {
		flex: 0 1 50%;
	}

	.our-production__card-img {
		height: 224px;
	}
}

@media (max-width: 435px) {
	.our-production__card-img {
		height: 200px;
	}
}

@media (max-width: 414px) {
	.jobs-agro__card-button {
		width: 100%;
	}

	.jobs-agro__column-descp {
		padding: 25px 0px 25px 0;
	}

	.news-agro__button {
		width: 100%;
	}

	.connect-agro__block-formSelect-select .select__value {
		font-size: 16px;
		height: 45px;
		padding: 0px 25px 0 15px;
	}

	.connect-agro__block-contacts-phone {
		margin-bottom: 0;
	}

	.connect-agro__block-formSelect-select .select__options {
		top: 28px;
		font-size: 14px;
	}

	.connect-agro__block-formSelect-select .select__option {
		padding: 5px 15px;
	}

	.our-production__card-img {
		height: 190px;
	}

	.directions-agro__slDescp-slide-link {
		width: 100%;
	}

	.title {
		font-size: 22px;
	}
}

@media (max-width: 375px) {
	.slider-bg__column {
		flex: 0 1 100%;
	}

	.our-production__card-img {
		height: 170px;
	}
}

@media (max-width: 345px) {

	.our-production__card-img {
		height: 150px;
	}
}